/*
 * Matugen-generated colors for Rofi
 * (Based on your pywal script)
 */
* {
    background:     #121318;
    background-alt: #121318;
    background-op:  #12131899;
    foreground:     #e3e2e9;
    selected:       #b3c5ff;
    active:         #c1c6dd;
    urgent:         #ffb4ab;
}
