/*
 * Matugen-generated colors for Rofi
 * (Based on your pywal script)
 */
* {
    background:     #131318;
    background-alt: #131318;
    background-op:  #13131899;
    foreground:     #e4e1e9;
    selected:       #bec2ff;
    active:         #c5c4dd;
    urgent:         #ffb4ab;
}
